config.env
config.json
downloader_gui.py
.DS_Store
/sh

#ignore downloaded data
**/volume_grids/
**/segments/
**/volumes/
**/masked_volumes/
**/surface_volume/
**/fragment_data/
**/renamedTifs/
*.volpkg/
# **/Scroll1.volpkg/
# **/Scroll2.volpkg/
# **/PHerc_0332.volpkg/