downloader_gui.py
.DS_Store
/sh
config.json

#ignore downloaded data
**/volume_grids/
**/segments/
**/volumes/
**/masked_volumes/
**/surface_volume/
**/fragment_data/
**/renamedTifs/
**/ome-zarr
*.volpkg/
**/Fragment1
!**/Fragment1/*.py
**/Fragment2
!**/Fragment2/*.py
**/Fragment3
!**/Fragment3/*.py
**/Fragment4
!**/Fragment4/*.py
**/Fragment5
!**/Fragment5/*.py
**/Fragment6
!**/Fragment6/*.py
